<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register Page</title>

    <!-- Bootstrap core CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="Signbody">
    <form class="form-signin">
  <div class="text-center mb-4">
    <img class="mb-4" src="images/webicon.png" alt="todolist icon" width="72" height="72">
    <h1 class="h3 mb-3 headFont font-weight-normal">TODO List</h1>

  </div>


  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputEmail">Email address</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; todolist 2020</p>
</form>
</body>
</html>
